body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*{
    box-sizing: border-box;  
    color: #342E37; 
    overflow: hidden;
}
.result_field{
    display: flex;
    width: 100%;
    height: 60px;
    text-align: right;
    font-size: 35px;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.calc{
    background-color: #fff;
    width: 250px;
    height: 375px;
    padding: 16px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.btn{
    margin: 3px;
    width: 50px;
    height: 50px;
    font-size: 16px;
    transition: 0.7s all;
    opacity: 0.7;
    font-weight: 700;
    background-color: #e7e7e7;
    border: none;
    border-radius: 10px;
}
.btn:hover{
    opacity: 1;
}
.btn-reset{
    width: 106px;
    background-color: #fc3503;
}

.calc_body{
    display: flex;
    justify-content: space-between;
    font-size: 0;
}
.calc_num{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 168px;
    flex: none;
}
.calc_operators{
    display: flex;
    flex-wrap: wrap;
    width: 50px;
}
.btn-operator{
    background-color: #fca103;
}

#theme-toggle{
    position: fixed;
    right: 20px;
    top: 20px;
}
.btn-git{
    position: fixed;
    right: 20px;
    top: 80px;
}
.svg-icon{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    fill: #342E37;
    stroke: #000;
    transition: 0.7s all;
}
.footer{
    opacity: .2;
}